<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='css/style.css' />
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x'
      crossorigin='anonymous'
    />
    <title>Document</title>
  </head>
  <body>
    <h2>FORMS LIST</h2>
    <div class='list-group'>
      <a href='/customer-form' class='list-group-item list-group-item-action'>
        CUSTOMER FORM
      </a>
      <a
        href='/certificate-form'
        class='list-group-item list-group-item-action'
      >
        CERTIFICATE FORM
      </a>
      <a
        href='/policy-form'
        class='list-group-item list-group-item-action'
      >POLICY FORM</a>
      <a
        href='/control-form'
        class='list-group-item list-group-item-action'
      >CONTROL FORM</a>
      <a
        href='/portfolio-form'
        class='list-group-item list-group-item-action'
      >PORTFOLIO FORM</a>
      <a
        href='/system-form'
        class='list-group-item list-group-item-action'
      >SYSTEM FORM</a>
      <a
        href='/roadmap-form'
        class='list-group-item list-group-item-action'
      >ROADMAP FORM</a>
      <a href='/test-form' class='list-group-item list-group-item-action'>TEST
        FORM</a>
      <a
        href='/test-transaction-form'
        class='list-group-item list-group-item-action'
      >TEST TRANSACTION FORM</a>

    </div>
  </body>
</html>